body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#section1{
    background-color: black;
    padding: 1rem 0;
    
}

#section1 h1{
    color: white;
    text-align: center;
    font-size: 2rem;
}

#column1{
    border: 2px solid red;
    text-align: center;
    padding: 3px 8rem;
}

#column1 .first-child{
    color: red;
}
    

#column2{
    text-align: center;
}

#section4{
    text-align: center;
    font-size: 0.4rem;
}

#section5{
    text-align: center;
    list-style: none;
}

.column3{
    list-style: none;
}

#section6{
    margin-top: 20px;
}